doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title jQuery Basics
    link(rel='stylesheet', href='/css/app.css')
  body
    h1 One
    h2 Two
    h3 Three
    p P-Tag

    button#btn Click Me
    button#btnTwo Click Muah
    button#btnThree Click miiii
    button#btnFour Click this
    button#btnFive Click this 2
    textarea#tb1
    button#btnSix Change!
    button#btnSeven Change Color!


    script(src='/js/vendor/jquery-2.1.0.js')
    script(src='/js/source/main.js')
